html, body, h3, p, ul, li, figure, figcaption, img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
html {
    line-height: 1;
	text-size-adjust: 100%;
	box-sizing: border-box;
	font-size: 62.5%;
	word-break: break-word;
    cursor: default;
}
body {
    font-family: "Andale Mono", "Monaco", "Lucida Console", "Menlo", "Consolas", "Roboto Mono", "Liberation Mono", monospace;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.6;
    background-color: #3f3a3c;
    background-image: linear-gradient(30deg, #343132, #3f3a3c);
    color: #e0e0e0;
}
*, *:before, *:after {
	box-sizing: inherit;
	background-repeat: no-repeat;
}
a {
    color: #ff8f10;
    text-decoration: none;
    transition: color .35s;
}
a img {
    display: block;
    width: 100%;
    max-width: 24rem;
    float: left;
    background: #eee;
    padding: 5px;
    box-shadow: 0 5px 25px -10px rgba(0, 0, 0, .75);
    transition: box-shadow .35s;
}
a:hover { color: #fff }
a:hover img { box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 1) }

ul {
    margin: 2rem auto;
    max-width: 72rem;
}
li { padding: 2rem }

figure { display: flex }
figure > a { flex: 0 0 24rem }
figure > figcaption {
    flex: 1 1 auto;
    padding: 0 0 0 2rem;
}
figcaption h3 {
    font-weight: 700;
    font-size: 100%;
    margin: .5rem 0;
}
figcaption p { margin: 0 0 .5rem }
figcaption mark {
    background: #bf8a3c;
    color: #343132;
    display: inline;
    padding: 1px 5px;
    border-radius: 2px;
}

@media all and (max-width : 620px) {
    figure {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    figure > a { flex: 1 1 auto }
    figure > figcaption {
        max-width: 32rem;
        padding: 2rem 0 0 0;
    }
}
